:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--spacing) / 3);
  position: sticky;
  z-index: 2;
  top: 0;
  box-shadow: 0 0 var(--shadow-spread) 0 var(--shadow-color);
  background: var(--background-transparent);
  backdrop-filter: blur(var(--blur));
  padding: calc(var(--spacing) / 4);

  button {
    position: relative;
    display: inline-flex;
    align-items: center;
    background: var(--controls-background);
    border: 2px solid var(--controls-border);
    padding: 0 calc(var(--spacing) / 3);
    min-height: var(--min-height-controls);

    &:not([disabled]):active {
      opacity: 0.8;
      scale: 1;
    }

    &[disabled] {
      opacity: 0.5;
    }

    &:hover,
    &:focus-visible {
      .tooltip {
        opacity: 1;
        visibility: visible;
      }
    }

    .tooltip {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: calc(100% + var(--spacing) / 6);
      right: 0;
      text-wrap: nowrap;
      color: var(--inverted-text);
      background: color-mix(in hsl, var(--text), transparent 10%);
      border-radius: var(--radius);
      font-size: 0.9em;
      padding: calc(var(--spacing) / 6) calc(var(--spacing) / 3);

      kbd {
        -webkit-text-stroke: 0.5px currentColor;
      }
    }
  }

  input,
  button,
  .radio {
    border-radius: var(--radius);

    &:not([disabled]):hover {
      background: var(--controls-hover);
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo-title {
      font-weight: 700;
    }

    .logo-subtitle {
      font-size: 0.85em;
    }
  }

  .left-container,
  .right-container {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) / 3);
    flex-grow: 1;
    flex-basis: 0;
  }

  .right-container {
    justify-content: flex-end;
  }

  [popover] {
    border: 2px solid var(--background);
    padding: calc(var(--spacing) / 3);
    border-radius: var(--radius);
    margin-top: 8px;
    background: var(--background-transparent);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0 0 var(--shadow-spread) 0 color-mix(in srgb, var(--shadow-color), transparent 60%);
    position-area: end span-end;
    position-try-fallbacks:
      flip-block,
      flip-inline,
      flip-block flip-inline;
  }

  :popover-open {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: calc(var(--spacing) / 3);

    .option {
      display: grid;
      grid-template-columns: subgrid;
      grid-column-gap: var(--spacing);
      grid-column: 1 / -1;
      align-items: baseline;
      min-height: var(--min-height-controls);
      padding: 0 calc(var(--spacing) / 3);

      :last-child {
        justify-self: flex-start;
      }
    }
  }

  .header-option {
    gap: calc(var(--spacing) / 4);

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ::ng-deep svg {
      --svg-size: 16px;
      height: var(--svg-size);
      width: var(--svg-size);
    }
  }

  .note {
    grid-column: 1 / -1;
    padding: calc(var(--spacing) / 3);
    border-bottom: 0.1em solid var(--controls-border);
  }

  .option {
    .span-label {
      font-weight: 700;
    }

    .plus-minus-button {
      aspect-ratio: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .inline-group {
      display: inline-flex;
      align-items: center;
      gap: calc(var(--spacing) / 5);
    }

    .margin-left {
      margin-left: calc(var(--spacing) / 8);
    }

    .radio-group {
      display: inline-flex;
      border: 2px solid var(--controls-border);
      justify-content: center;
      align-items: center;
      border-radius: var(--radius);

      .radio {
        display: flex;
        border-radius: 0;

        label {
          border-radius: 0;
        }

        &:first-of-type {
          border-radius: calc(var(--radius) - 0.05em);

          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;

          label {
            border-radius: calc(var(--radius) - 0.05em);

            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
          }
        }

        &:last-of-type {
          border-radius: calc(var(--radius) - 0.05em);

          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;

          label {
            border-radius: calc(var(--radius) - 0.05em);

            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
          }
        }

        input {
          position: absolute;
          z-index: -1;
          opacity: 0;

          &:focus-visible {
            & + label {
              outline: auto;
            }
          }
        }

        label {
          display: inline-flex;
          align-items: center;
          min-height: calc(var(--min-height-controls) - 4px);
          min-width: max-content;
          padding: 0 calc(var(--spacing) / 3);
        }

        input:checked {
          & + label {
            font-weight: 700;
            background: var(--checked-controls-background);

            &::after {
              content: '✓' / '';
              display: flex;
              align-items: center;
              margin-left: calc(var(--spacing) / 5);
              font-size: 13px;
            }
          }
        }
      }
    }

    .hint {
      margin: 0.4em 0 0.6em 0;
      max-width: 30ch;
      font-size: 0.9em;
      opacity: 0.8;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-height: 50vh;
    overflow: auto;

    a {
      padding: calc(var(--spacing) / 3) calc(var(--spacing) / 2);
      color: inherit;
      text-decoration: none;
      word-break: break-word;
      outline-offset: -1px;
      border-radius: var(--radius);
      border: 2px solid transparent;

      &[aria-current] {
        font-weight: 700;

        &::after {
          content: '✓' / '';
          display: inline-flex;
          align-items: center;
          margin-left: calc(var(--spacing) / 5);
          font-size: 13px;
        }
      }

      &:hover,
      &:focus-visible {
        border: 2px solid var(--controls-border);
      }
    }
  }
}

:host-context(.fullscreen) {
  :host {
    display: none;
  }
}

@media screen and (width <= 500px) {
  .sr-only-mobile {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  [popover] {
    transform-origin: top left;
    scale: 0.87;
  }
}

@media screen and (height <= 500px) {
  :host {
    position: static;
  }
}
