@use 'scss/mixins' as *;

:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--spacing) / 3);
  position: sticky;
  z-index: 4;
  top: 0;
  box-shadow: 0 0 var(--shadow-spread) var(--shadow-color);
  background: var(--background-transparent);
  backdrop-filter: blur(var(--blur));
  padding: calc(var(--spacing) / 4);

  input,
  .radio {
    border-radius: var(--radius);

    &:not([disabled]):hover {
      background: var(--controls-hover);
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing) / 15);

    .logo-title {
      font-weight: 700;
    }

    .logo-subtitle {
      font-size: 0.8em;
    }
  }

  .left-container,
  .right-container {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) / 3);
    flex-grow: 1;
    flex-basis: 0;
  }

  .right-container {
    justify-content: flex-end;
  }

  [popover] {
    border: 1px solid var(--border-color);
    padding: calc(var(--spacing) / 3);
    border-radius: var(--radius);
    margin-top: calc(var(--spacing) / 6);
    background: var(--background-transparent);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0 0 var(--shadow-spread) 0 color-mix(in srgb, var(--shadow-color), transparent 60%);
    position-area: end span-end;
    position-try-fallbacks:
      flip-block,
      flip-inline,
      flip-block flip-inline;

    &::backdrop {
      background: var(--backdrop-color);
    }

    &#main-menu {
      padding: 0;
    }
  }

  :popover-open {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: calc(var(--spacing) / 3);

    .option {
      display: grid;
      grid-template-columns: subgrid;
      grid-column-gap: var(--spacing);
      grid-column: 1 / -1;
      align-items: baseline;
      padding: 0 calc(var(--spacing) / 3);

      :last-child {
        justify-self: flex-start;
      }
    }
  }

  .header-option {
    gap: calc(var(--spacing) / 4);
  }

  .note {
    grid-column: 1 / -1;
    padding: calc(var(--spacing) / 3);
    border-bottom: 1px solid var(--border-color);
  }

  .option {
    .span-label {
      font-weight: 700;
    }

    .plus-minus-button {
      aspect-ratio: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .inline-group {
      display: inline-flex;
      align-items: center;
      gap: calc(var(--spacing) / 5);
    }

    .margin-left {
      margin-left: calc(var(--spacing) / 8);
    }

    .radio-group {
      display: inline-flex;
      border: 1px solid var(--border-color);
      justify-content: center;
      align-items: center;
      border-radius: var(--radius);

      .radio {
        display: flex;
        border-radius: 0;

        &:first-of-type {
          border-radius: calc(var(--radius) - 0.05em);

          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;

          label {
            border-radius: calc(var(--radius) - 0.05em);

            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
          }
        }

        &:last-of-type {
          border-radius: calc(var(--radius) - 0.05em);

          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;

          label {
            border-radius: calc(var(--radius) - 0.05em);

            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
          }
        }

        input {
          position: absolute;
          z-index: -1;
          opacity: 0;

          &:focus-visible {
            & + label {
              outline: auto;
            }
          }
        }

        label {
          display: inline-flex;
          align-items: center;
          gap: calc(var(--spacing) / 4);
          height: calc(var(--min-height-controls) - 2px); //minus the borders
          min-width: max-content;
          padding: 0 calc(var(--spacing) / 3);
          border-radius: 0;
        }

        input:checked {
          & + label {
            font-weight: 700;
            background: var(--checked-controls-background);

            &::after {
              content: '✓' / '';
              display: flex;
              align-items: center;
              font-size: 13px;
            }
          }
        }
      }
    }

    .hint {
      margin: 0.4em 0 0.6em 0;
      max-width: 30ch;
      font-size: 0.9em;
      opacity: 0.8;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-height: 50vh;
    overflow: auto;

    a {
      display: flex;
      align-items: center;
      gap: calc(var(--spacing) / 4);
      padding: 0 calc(var(--spacing) / 3);
      color: inherit;
      text-decoration: none;
      overflow-wrap: anywhere;
      outline-offset: -1px;
      border-radius: var(--radius);
      border: 1px solid transparent;
      min-height: var(--min-height-controls);

      &[aria-current] {
        font-weight: 700;
        background: var(--checked-controls-background);

        &::after {
          content: '✓' / '';
          display: inline-flex;
          align-items: center;
          font-size: 13px;
        }
      }

      &:hover,
      &:focus-visible {
        background: var(--controls-hover);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        ::ng-deep svg {
          --svg-size: 18px;
          height: var(--svg-size);
          width: var(--svg-size);
        }
      }
    }
  }
}

:host-context(.fullscreen) {
  :host {
    display: none;
  }
}

@include smallWidth {
  .sr-only-mobile {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  [popover] {
    transform-origin: top left;
    scale: 0.87;
  }
}

@include smallHeight {
  :host {
    position: static;
  }
}
