/* Inclusive Sans */

@font-face {
    font-family: 'Inclusive Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Inclusive_Sans/InclusiveSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inclusive Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Inclusive_Sans/InclusiveSans-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inclusive Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Inclusive_Sans/InclusiveSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inclusive Sans';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Inclusive_Sans/InclusiveSans-BoldItalic.woff2') format('woff2');
}

/* Fira Code */

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Fira_Code/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Fira_Code/FiraCode-Bold.woff2') format('woff2');
}
