#slide-1 ::ng-deep {
  /*title slide*/
  background:
    radial-gradient(ellipse 80% 60% at 60% 20%, rgba(115, 0, 255, 0.20), transparent 65%),
    radial-gradient(ellipse 70% 60% at 20% 80%, rgba(255, 0, 132, 0.15), transparent 65%),
    linear-gradient(180deg, var(--background-color) 0%, var(--background-color) 100%);

  .title-slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span:last-child {
        font-weight: normal;
      }
    }

    .angular-component {
      --icon-size: calc(7 * var(--unit));
      width: var(--icon-size);
      height: var(--icon-size);
      border: calc(0.5 * var(--unit)) solid;
      border-radius: 50%;

      svg {
        width: 100%;
        height: auto;
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: calc(1 * var(--unit));

      .presenters {
        display: flex;
        align-items: center;
        gap: calc(1 * var(--unit));

        img {
          width: calc(18 * var(--unit));
          padding: calc(1.1 * var(--unit));
          background: #fff;
          border-radius: calc(1 * var(--unit));
          margin-right: calc(0.5 * var(--unit));
        }
      }
    }
  }
}

#slide-2 ::ng-deep {
  /*about speakers*/
  .about-me-images {
    display: inline-flex;
    gap: calc(1 * var(--unit));

    img {
      border-radius: 50%;
      width: calc(9 * var(--unit));
      height: auto;
    }
  }
}

:host {
  ::ng-deep .side-by-side {
    display: flex;
    justify-content: space-between;

    img {
      width: 49.5%;
      object-fit: cover;
      object-position: top;
      min-height: 50px;
    }
  }

  ::ng-deep .desktop-mobile-emoji {
    font-size: calc(7 * var(--unit));
    margin-top: 5%;
  }

  ::ng-deep .decorative {
    user-select: none;
    pointer-events: none;
  }

  ::ng-deep .center-text {
    text-align: center;
  }

  ::ng-deep .f-w-normal {
    font-weight: normal;
  }

  ::ng-deep .interaction-diagram {
    display: flex;
    place-self: center;
    width: 50%;
  }

  ::ng-deep .package-emoji {
    text-align: center;
    font-size: calc(15 * var(--unit));
    margin-top: 2%;
  }

  ::ng-deep .center-pyramid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep .float-overlay {
    float: left;
    width: 36%;
    border-radius: 8px;
    margin-right: calc(4 * var(--unit));
  }

  ::ng-deep :has(.smaller) {
    font-size: calc(2.01 * var(--unit));
  }

  ::ng-deep .pour-img {
    width: 60%;
    float: left;
    margin-right: calc(5 * var(--unit));
    margin-bottom: calc(4 * var(--unit));
  }
}
