:host {
  --slides-spacing: calc(var(--spacing) + 10px);
  container: slides / inline-size;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: min-content;
  margin: 0 auto;

  .slides-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: min-content;
    margin: 0 auto;
    gap: min(5vw, calc(var(--slides-spacing) * 1.5));
    padding: min(5vw, calc(var(--slides-spacing) * 1.5));
    margin-bottom: calc(1.5 * var(--spacing)) 0;
  }

  .slide-number {
    position: absolute;
    top: 0;
    left: calc(var(--spacing) / -6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    padding: 0 0.4em;
    translate: -100%;
    z-index: -1;
    background: var(--inverted-text);
    border-radius: var(--spacing);
    opacity: 0.8;
  }
}

:host-context(.fixed-layout) {
  :host {
    --slides-spacing: 3cqi;
  }
}

:host-context(.fullscreen.fixed-layout) {
  :host {
    --slides-spacing: 0;

    .slides-container {
      display: grid;
      align-items: center;
      grid-auto-rows: 100vh;
    }
  }
}
