:host {
  position: relative;
  display: flex;
  flex-direction: column;

  .skip-links {
    z-index: 3;
    display: flex;
    justify-content: center;
    gap: 4px;
    box-shadow: 0 0 var(--shadow-spread) 0 var(--shadow-color);

    a {
      padding: calc(var(--spacing) / 3) calc(var(--spacing) / 2);
    }

    &:has(:focus-within) {
      clip: unset;
      clip-path: unset;
      height: unset;
      overflow: unset;
      position: unset;
      white-space: unset;
      width: unset;
    }
  }

  .disclaimer {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    gap: 0.2rem;
    background-color: var(--red);
  }

  .main-container {
    display: flex;

    main {
      display: flex;
      flex-grow: 1;

      & > ::ng-deep * {
        display: contents;
      }
    }
  }

  footer {
    z-index: 2;
    border-top: 1px solid var(--light-grey);
    padding: calc(1.5 * var(--spacing)) var(--spacing);
    line-height: 1.5;
    background: var(--background);

    p {
      margin-bottom: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media screen and (width <= 500px) {
  :host {
    .main-container {
      main {
        flex-direction: column;
      }
    }
  }
}
