:host {
  display: inline-flex;
  align-items: center;
  gap: 0.5lh;
  flex-wrap: wrap;

  button {
    display: inline-flex;
    align-items: center;
    gap: 0.15lh;
    padding: 0.3lh;
    min-height: 0;

    svg {
      --icon-size: 1lh;
      width: var(--icon-size);
      height: var(--icon-size);
    }
  }
}
