:host {
  --background-color: var(--inverted-text); /* default color for no inline background styling */

  --slide-text: color-mix(in hsl, var(--background-color), var(--text) 85%);
  --slides-link-hover: color-mix(in hsl, var(--background-color), var(--text) 70%);
  --slides-borders: color-mix(in hsl, var(--background-color), var(--text) 15%);
  --slides-table-headers: color-mix(in hsl, var(--background-color), var(--text) 7%);
  --slides-background-light: color-mix(in hsl, var(--background-color), var(--inverted-text) 50%);

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-width: fit-content;
  margin: 0 auto;
  padding: 2.2lh;
  background: var(--background-color);
  color: var(--slide-text);
}

:host-context(.flexible-layout) {
  :host {
    border-radius: var(--radius);
  }
}

:host-context(.fixed-layout) {
  :host {
    font-size: 2cqi;

    aspect-ratio: 16 / 9;
    overflow-x: visible;
    overflow-y: clip;
  }
}

:host-context(.fullscreen.fixed-layout) {
  :host {
    /* Hide focus outline of the main slide shown in fullscreen */
    &:focus-visible {
      outline: none;
    }
  }
}
