:root {
  --background-transparency: 0.93;
  --base-font: 'Inclusive Sans', sans-serif;
  --code-font: 'Fira Code', monospace;
  --spacing: 30px;
  --blur: 30px;
  --shadow-spread: 10px;
  --radius: 0.2em;
  --min-height-controls: 36px;
}
