:host {
  position: sticky;
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 1.5);
  border-right: 1px solid var(--light-grey);
  align-self: flex-start;
  width: 300px;
  height: 50vh;
  overflow: auto;
  background: var(--surface-background-transparent);
  box-shadow: 0 0 var(--shadow-spread) 0 var(--shadow-color);
  height: 100vh;

  .title {
    font-weight: 700;
  }

  nav {
    a.toc-link {
      display: flex;
      margin: calc(var(--spacing) / 3) 0;
      text-decoration: none;
      align-items: baseline;

      &.active-heading {
        .heading-level {
          background: var(--body);
          box-shadow: 0 0 0 2px var(--dark-grey);
        }

        .heading-title {
          -webkit-text-stroke: 1px currentColor;
        }
      }

      .heading-level {
        display: inline-block;
        margin-right: 6px;
        padding: 4px;
        font-size: 0.7em;
        border-radius: var(--spacing);
        background: var(--background);
        user-select: none;
      }

      &:hover {
        .heading-title {
          text-decoration: underline;
        }
      }
    }
  }
}

:host-context(.fullscreen) {
  :host {
    display: none;
  }
}

@media screen and (width <= 500px) {
  :host {
    position: static;
    top: 0 !important;
    width: 100%;
    height: 30vh !important;
  }
}
