@layer fonts, base, colors, other-variables, code-highlight;

@import url('styles/_fonts.scss') layer(fonts);
@import url('styles/variables/_colors.scss') layer(colors);
@import url('styles/variables/_other.scss') layer(other-variables);
@import url('../node_modules/highlight.js/styles/a11y-dark.min.css') layer(code-highlight);

@layer base {
  :root {
    color-scheme: light dark;
  }

  * {
    box-sizing: border-box;
    letter-spacing: 0.5px;
  }

  html.fullscreen {
    @media (pointer: fine) {
      ::-webkit-scrollbar {
        width: 0;
      }
    }
  }

  body {
    background: var(--background);
    margin: 0;
    font-family: var(--base-font);
  }

  kbd,
  code,
  pre {
    font-family: var(--code-font);
  }

  pre code {
    white-space: pre-wrap;
  }

  input {
    font: inherit;
    background: var(--background);
  }

  button {
    font: inherit;
  }

  a {
    color: var(--link-color);
    text-underline-offset: 0.15rem;

    &:visited {
      color: var(--link-color);
    }

    &:hover,
    &:focus-visible {
      text-underline-offset: 0.2rem;
    }
  }

  .sr-only:not(:focus):not(:focus-visible):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  :focus {
    outline: none;
  }

  :focus-visible {
    outline: auto;
  }
}
